// Color scheme
$color-white: #fff;
$color-isabelline: #ECECEC;
$color-ligth-grey: #D1D1D1;
$color-quick-silver: #A0A0A0;
$color-granite-grey: #686963;
$color-black: #0C0910;

// Typography
$ff-raleway: 'Raleway', sans-serif;
$ff-old-standard: 'Old Standard TT', serif;

// Font weigth
$fw-extra-ligth: 200;
$fw-regular: 400;
$fw-bold: 700;

//Font sizes

$fs-xxx-large: 50px;
$fs-xx-large: 30px;
$fs-x-large: 20px;
$fs-large: 18px;
$fs-medium: 16px;
$fs-small: 14px;
$fs-x-small: 12px;





