/* Reseteamos los margin y paddings de todas las etiquetas */
*, body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.button {
  display: block;
  font-weight: 700;
  line-height: 1.5;
  color: #0C0910;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #0C0910;
  padding: 0.375rem 0.75rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button--small {
  font-size: 14px;
  text-orientation: sideways;
}
.button--normal {
  font-size: 18px;
  padding: 10px 40px;
}
.button:hover {
  border-color: #A0A0A0;
}
.button:hover:focus {
  color: #D1D1D1;
}

.text-input {
  width: 60vw;
  max-width: 400px;
  border: 1px solid #D1D1D1;
  padding: 7px 10px;
}

.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0C0910;
  color: #fff;
  font-family: "Old Standard TT", serif;
  font-size: 18px;
  width: 70px;
  height: 60px;
}
.navbar__sandwich {
  font-size: 30px;
  background-color: transparent;
  margin-right: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.navbar__items {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.navbar__items a {
  padding: 10px;
  text-decoration: none;
  color: #0C0910;
  font-weight: 700;
}
.navbar__items a:hover {
  border: 1px solid #D1D1D1;
}
.navbar__hide {
  display: none;
}
@media screen and (min-width: 720px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar__sandwich {
    display: none;
  }
  .navbar__items, .navbar__hide {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: end;
    margin-right: 20px;
  }
  .navbar__items a, .navbar__hide a {
    padding: 20px 20px;
    text-decoration: none;
    color: #0C0910;
    font-weight: 700;
    font-size: 16px;
  }
  .navbar__items a:hover, .navbar__hide a:hover {
    border: 1px solid #D1D1D1;
  }
}

.hero__img {
  width: 100%;
  height: 60vw;
  object-fit: cover;
  object-position: top;
}
.hero__content {
  padding: 40px;
}
.hero__title {
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
}
.hero__text {
  line-height: 1.7;
  padding-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .hero__img {
    width: 50%;
  }
  .hero__content {
    padding: 80px;
  }
}

.footer {
  background-color: #0C0910;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.footer__container {
  padding: 20px 30px;
}
.footer__banner {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  background-color: #fff;
  color: #0C0910;
  writing-mode: vertical-lr;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__title {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-size: 20px;
}
.footer__text {
  font-family: "Old Standard TT", serif;
  font-size: 14px;
  color: #D1D1D1;
  padding: 10px 0;
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
  }
  .container__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=css.css.map */
